*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  hanging-punctuation: first last;
  color-scheme: light dark;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea {
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background: none;
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: inherit;
  font-size: inherit;
}

p,
li,
figcaption {
  text-wrap: pretty;
}

ul,
ol {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3A3A3A;
  background: aliceblue;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

._footer-title {
  font-size: 24px;
}
@media (max-width: 1440px) {
  ._footer-title {
    font-size: calc(20px + (24 - 20) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  ._footer-title {
    font-size: 20px;
  }
}
._footer-title {
  line-height: 120.8333333333%;
  color: #111111;
  font-weight: 700;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.btn--base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
  min-height: 48px;
}

.btn--menu-arrow-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0 0 0 5px;
}
.btn--menu-arrow-down .icon {
  transition: transform 0.3s ease;
  pointer-events: none;
}
.btn--menu-arrow-down._spoller-active .icon {
  transform: rotate(-180deg);
}

.search-form__btn {
  flex: 0 0 45px;
  font-size: 16px;
  margin-left: 1rem;
  color: #333333;
}

.icon-menu--burger {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu--burger {
    margin-left: 32px;
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
}
@media (max-width: 767.98px) and (max-width: 1440px) {
  .icon-menu--burger {
    margin-left: calc(15px + (32 - 15) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 767.98px) and (max-width: 320px) {
  .icon-menu--burger {
    margin-left: 15px;
  }
}
@media (max-width: 767.98px) {
  .icon-menu--burger span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
  }
  .icon-menu--burger span:first-child {
    top: 0px;
  }
  .icon-menu--burger span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu--burger._active span {
    transform: scale(0);
  }
  .icon-menu--burger._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu--burger._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.search-form__icon {
  position: relative;
  z-index: 5;
  font-size: 30px;
  color: #E89F71;
  transition: color 0.3s ease;
}
@media (min-width: 991.98px) {
  .search-form__icon {
    display: none;
  }
}

.icon--search {
  width: 24px;
  height: 24px;
}

.icon_favorites {
  width: 24px;
  height: 24px;
  color: #262f56;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .icon_favorites:hover {
    color: #E89F71;
  }
}

.icon_cart {
  position: relative;
  width: 24px;
  height: 24px;
  color: #262f56;
  transition: color 0.3s ease 0s;
  display: block;
}
@media (any-hover: hover) {
  .icon_cart:hover {
    color: #E89F71;
  }
}

.cart-header__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-header__icon span {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -10px;
  background-color: #E89F71;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 50%;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 40px;
}
@media (max-width: 767.98px) {
  .header {
    min-height: 5px;
  }
}
.header._scroll .header__wrapper {
  background-color: rgba(255, 255, 255, 0.8);
}
@media (any-hover: hover) {
  .header._scroll .header__wrapper:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
.header .header__body {
  min-height: 50px;
}
@media (min-width: 991.98px) {
  .header .header__body {
    min-height: 70px;
  }
}
.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header__body {
  display: flex;
  align-items: center;
  padding: 5px 0;
  min-height: 12.5rem;
  position: relative;
  transition: background-color 0.3s ease 0s;
}
@media (max-width: 991.98px) {
  .header__body {
    min-height: 80px;
  }
}
@media (max-width: 767.98px) {
  .header__body {
    min-height: 50px;
  }
}
.header__main {
  display: flex;
  align-items: center;
  flex: 0 0 39.8387096774%;
}
@media (max-width: 991.98px) {
  .header__main {
    flex: 1 1 auto;
  }
}
.header__logo {
  color: #111111;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 120.8333333333%;
  position: relative;
  z-index: 5;
}
.header__search {
  padding-right: 32px;
}
@media (max-width: 1440px) {
  .header__search {
    padding-right: calc(15px + (32 - 15) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .header__search {
    padding-right: 15px;
  }
}
@media (min-width: 991.98px) {
  .header__search {
    flex: 1 1 auto;
  }
}

.menu {
  flex: 0 1 420px;
}
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f5f5f5;
    transition: left 0.3s ease 0s;
    padding: 70px 15px 30px 15px;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    transition: left 0.3s ease 0s;
    background-color: #f5f5f5;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    left: 0;
  }
}
@media (min-width: 767.98px) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 3px;
  padding: 5px 0;
  position: relative;
}
@media (any-hover: hover) {
  .menu__item:hover .btn--menu-arrow-down .icon {
    transform: rotate(-180deg);
  }
  .menu__item:hover .menu__sub-list {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item:hover .btn--menu-arrow-down .icon,
  .menu__item:hover .menu__link {
    color: #E89F71;
  }
}
.menu__link {
  font-weight: 500;
  color: inherit;
  transition: color 0.3s ease;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 2.4rem;
    font-weight: 600;
  }
}
.menu__sub-list {
  background-color: #E89F71;
  padding: 1.5rem;
  flex: 1 1 100%;
}
@media (min-width: 767.98px) {
  .menu__sub-list {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -10px);
    transition: all 0.3s ease;
    min-width: 20rem;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
  }
}
@media (max-width: 767.98px) {
  .menu__sub-list {
    overflow: hidden;
    max-height: 0;
    padding: 0 1.5rem;
    transition: max-height 0.35s ease;
  }
  .menu__sub-list._scroll {
    overflow-y: auto;
    max-height: 100px;
  }
}
.menu__sub-item:not(:last-child) {
  margin: 0 0 5px 0;
}
.menu__sub-link {
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.search-form {
  max-width: 47.3rem;
}
.search-form._active .search-form__item {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.search-form._active .search-form__icon {
  color: #E89F71;
}
.search-form__item {
  height: 45px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991.98px) {
  .search-form__item {
    box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
    position: absolute;
    width: 100%;
    left: 0;
    top: -100%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
}
.search-form__input {
  width: 100%;
  padding: 0 2rem 0 0;
  font-size: 1.4rem;
  color: #3A3A3A;
}

.actions-header {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  gap: 32px;
}
@media (max-width: 1440px) {
  .actions-header {
    gap: calc(15px + (32 - 15) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .actions-header {
    gap: 15px;
  }
}
.actions-header__item_user {
  overflow: hidden;
  border-radius: 50%;
  width: 40px;
}
@media (max-width: 1440px) {
  .actions-header__item_user {
    width: calc(30px + (40 - 30) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .actions-header__item_user {
    width: 30px;
  }
}
.actions-header__item_user {
  height: 40px;
}
@media (max-width: 1440px) {
  .actions-header__item_user {
    height: calc(30px + (40 - 30) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .actions-header__item_user {
    height: 30px;
  }
}

.footer__body {
  background: #f4f5f7;
  border-top: 1px solid #d8d8d8;
  display: grid;
  grid-template-columns: 25rem 1fr 29rem;
  padding-top: 80px;
}
@media (max-width: 1440px) {
  .footer__body {
    padding-top: calc(30px + (80 - 30) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .footer__body {
    padding-top: 30px;
  }
}
.footer__body {
  padding-bottom: 60px;
}
@media (max-width: 1440px) {
  .footer__body {
    padding-bottom: calc(30px + (60 - 30) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .footer__body {
    padding-bottom: 30px;
  }
}
.footer__body {
  -moz-column-gap: 80px;
       column-gap: 80px;
}
@media (max-width: 1440px) {
  .footer__body {
    -moz-column-gap: calc(0px + (80 - 0) * (100vw - 320px) / (1440 - 320));
         column-gap: calc(0px + (80 - 0) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .footer__body {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
}
@media (max-width: 1282px) {
  .footer__body {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 290px;
  }
}
@media (max-width: 991.98px) {
  .footer__body {
    display: block;
  }
}
.footer__main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 1282px) {
  .footer__main {
    grid-column: span 2;
    margin-bottom: 40px;
  }
}
@media (max-width: 1282px) and (max-width: 1440px) {
  .footer__main {
    margin-bottom: calc(30px + (40 - 30) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 1282px) and (max-width: 320px) {
  .footer__main {
    margin-bottom: 30px;
  }
}
.footer__logo {
  margin: 0 0 0.6666666667em 0;
}
.footer__text {
  color: #898989;
  line-height: 150%;
}
.footer__text:not(:last-child) {
  margin: 0 0 1em 0;
}
@media (max-width: 991.98px) {
  .footer__menu {
    margin-bottom: 40px;
  }
}
@media (max-width: 991.98px) and (max-width: 1440px) {
  .footer__menu {
    margin-bottom: calc(30px + (40 - 30) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 991.98px) and (max-width: 320px) {
  .footer__menu {
    margin-bottom: 30px;
  }
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacts-footer__item {
  display: inline-flex;
  align-items: center;
  line-height: 150%;
  color: #898989;
  gap: 0.5rem;
  transition: color 0.3s ease 0s;
}
.contacts-footer__item:not(:last-child) {
  margin-bottom: 16px;
}
@media (max-width: 1440px) {
  .contacts-footer__item:not(:last-child) {
    margin-bottom: calc(10px + (16 - 10) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .contacts-footer__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (any-hover: hover) {
  .contacts-footer__item:hover {
    color: #E89F71;
  }
}

@media (min-width: 767.98px) {
  .menu-footer {
    display: flex;
  }
}
@media (min-width: 767.98px) {
  .menu-footer__column {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 767.98px) {
  .menu-footer__column {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) and (max-width: 1440px) {
  .menu-footer__column {
    margin-bottom: calc(15px + (30 - 15) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 767.98px) and (max-width: 320px) {
  .menu-footer__column {
    margin-bottom: 15px;
  }
}
.menu-footer__title {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 767.98px) {
  .menu-footer__title {
    margin: 0 0 0.6666666667em 0;
  }
}
@media (max-width: 767.98px) {
  .menu-footer__title {
    cursor: pointer;
    width: 100%;
  }
}
.menu-footer__title._spoller-active .btn--menu-arrow-down {
  transform: rotate(-135deg);
}
@media (max-width: 767.98px) {
  .menu-footer__list {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.35s ease;
  }
}
.menu-footer__list li:not(:last-child) {
  margin: 0 0 15px 0;
}
.menu-footer .btn--menu-arrow-down {
  display: none;
  flex-shrink: 0;
}
@media (max-width: 767.98px) {
  .menu-footer .btn--menu-arrow-down {
    display: block;
    width: 10px;
    height: 10px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    margin-bottom: 4px;
  }
}
.menu-footer__link {
  color: #616161;
  line-height: 120%;
  font-weight: 500;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    color: #E89F71;
  }
}

.subscribe__title {
  margin: 0 0 0.6666666667em 0;
}
.subscribe__form {
  display: flex;
  position: relative;
}
.subscribe__input {
  width: 100%;
  height: 45px;
  padding: 0 12px;
  background: #f4f5f7;
  font-size: 1.6rem;
  color: #828282;
}
.subscribe__button {
  flex: 0 0 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E89F71;
  color: #f5f5f5;
  margin: 0 0 0 4px;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .subscribe__button:hover {
    background-color: #e77b37;
  }
}

.page {
  flex: 1 1 auto;
}

.main-slider {
  background: #fcf8f3;
}
.main-slider__container {
  position: relative;
}
@media (min-width: 991.98px) {
  .main-slider__container::before {
    content: "";
    background: #f9f1e7;
    position: absolute;
    top: 0;
    right: 376px;
    width: 100vw;
    height: 100%;
  }
}
.main-slider__body {
  padding: 14rem 0 0 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .main-slider__body {
    padding: 8rem 0 0 0;
  }
}
@media (max-width: 767.98px) {
  .main-slider__body {
    padding: 5rem 0 0 0;
  }
}
@media (min-width: 991.98px) {
  .main-slider__body {
    display: flex;
  }
}
.main-slider__content {
  flex: 0 0 39.8387096774%;
  align-self: flex-start;
  margin-bottom: 80px;
}
@media (max-width: 1440px) {
  .main-slider__content {
    margin-bottom: calc(15px + (80 - 15) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .main-slider__content {
    margin-bottom: 15px;
  }
}
@media (max-width: 991.98px) {
  .main-slider__content {
    margin: 0 -15px;
  }
}
.main-slider__slider {
  flex: 1 1 auto;
  align-self: flex-end;
  min-width: 0;
}
@media (min-width: 991.98px) {
  .main-slider__slider {
    padding: 0 0 0 32px;
  }
}

.content-main {
  position: relative;
  z-index: 5;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(255, 255, 255, 0.72);
  padding-top: 60px;
}
@media (max-width: 1440px) {
  .content-main {
    padding-top: calc(15px + (60 - 15) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .content-main {
    padding-top: 15px;
  }
}
.content-main {
  padding-bottom: 60px;
}
@media (max-width: 1440px) {
  .content-main {
    padding-bottom: calc(15px + (60 - 15) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .content-main {
    padding-bottom: 15px;
  }
}
@media (min-width: 991.98px) {
  .content-main {
    padding: 60px;
    background: rgba(255, 255, 255, 0.9);
  }
}
@media (min-width: 991.98px) and (max-width: 1440px) {
  .content-main {
    padding: calc(15px + (60 - 15) * (100vw - 320px) / (1440 - 320));
  }
}
@media (min-width: 991.98px) and (max-width: 320px) {
  .content-main {
    padding: 15px;
  }
}
@media (min-width: 991.98px) {
  @supports (backdrop-filter: blur(31px)) {
    .content-main {
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
  }
}
.content-main__title {
  font-size: 56px;
}
@media (max-width: 1440px) {
  .content-main__title {
    font-size: calc(24px + (56 - 24) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .content-main__title {
    font-size: 24px;
  }
}
.content-main__title {
  font-weight: 700;
  line-height: 120%;
}
.content-main__title:not(:last-child) {
  margin: 0 0 0.2857142857em 0;
}
.content-main__text {
  font-size: 20px;
}
@media (max-width: 1440px) {
  .content-main__text {
    font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .content-main__text {
    font-size: 16px;
  }
}
.content-main__text {
  color: #898989;
  font-weight: 500;
  line-height: 150%;
}
.content-main__text:not(:last-child) {
  margin: 0 0 2.4em 0;
}
.content-main__button {
  width: 100%;
  font-size: 600;
  min-height: 78px;
}
@media (max-width: 1440px) {
  .content-main__button {
    min-height: calc(45px + (78 - 45) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .content-main__button {
    min-height: 45px;
  }
}
.content-main__button {
  font-size: 20px;
}
@media (max-width: 1440px) {
  .content-main__button {
    font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .content-main__button {
    font-size: 16px;
  }
}
.content-main__button {
  background-color: #E89F71;
  color: #ffffff;
}
@media (any-hover: hover) {
  .content-main__button:hover {
    background: #e77b37;
  }
}

.slider-main__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
@media (max-width: 991.98px) {
  .slider-main__controls {
    margin: 10px 0 20px 0;
  }
}

.controls-slider-main {
  margin: 0 0 20px 0;
}

.slider-arrows {
  display: grid;
  grid-template-columns: repeat(2, 48px);
  -moz-column-gap: 8px;
       column-gap: 8px;
}
@media (max-width: 991.98px) {
  .slider-arrows {
    display: none;
  }
}

.slider-arrow {
  width: 48px;
  height: 48px;
  font-size: 12px;
  border-radius: 50%;
  color: #e77b37;
  background-color: rgba(232, 159, 113, 0.452);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.slider-arrow--prev {
  transform: rotate(90deg);
}
.slider-arrow--next {
  transform: rotate(-90deg);
}
@media (any-hover: hover) {
  .slider-arrow:hover {
    color: #ffffff;
    background-color: rgb(232, 159, 113);
  }
}
.slider-arrow--white {
  box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
  background-color: aliceblue;
}
@media (any-hover: hover) {
  .slider-arrow--white:hover {
    color: #e77b37;
    background-color: rgb(232, 159, 113);
  }
}

.controls-slider-main__dotts {
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .controls-slider-main__dotts {
    justify-content: center;
  }
}
.controls-slider-main__dotts .swiper-pagination-bullet {
  cursor: pointer;
  width: 27px;
  height: 27px;
  background: transparent;
  opacity: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.controls-slider-main__dotts .swiper-pagination-bullet:not(:last-child) {
  margin-right: 12px;
}
.controls-slider-main__dotts .swiper-pagination-bullet::after {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #d8d8d8;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.controls-slider-main__dotts .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #E89F71;
  transition: transform 0.3s ease;
  transform: scale(0);
}
.controls-slider-main__dotts .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  background-color: #E89F71;
}
.controls-slider-main__dotts .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  transform: scale(1);
}

._swiper {
  width: 100%;
}
._swiper .swiper-slide {
  width: 100%;
}
@media (min-width: 767.98px) {
  ._swiper .swiper-slide {
    width: calc(50% - 10px);
  }
}
@media (min-width: 767.98px) and (min-width: 991.98px) {
  ._swiper .swiper-slide {
    width: calc(33.333% - 20px);
  }
}
@media (min-width: 767.98px) and (min-width: 767.98px) {
  ._swiper .swiper-slide .swiper-wrapper {
    gap: 20px;
  }
}
@media (min-width: 767.98px) and (min-width: 991.98px) {
  ._swiper .swiper-slide .swiper-wrapper {
    gap: 30px;
  }
}

.slider-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 991.98px) {
  .slider-main {
    align-items: stretch;
    flex-direction: column-reverse;
  }
}
.slider-main__body {
  overflow: visible;
}
@media (min-width: 991.98px) {
  .slider-main__body {
    width: 934px;
  }
}
@media (min-width: 991.98px) and (max-width: 1440px) {
  .slider-main__body {
    width: calc(290px + (934 - 290) * (100vw - 320px) / (1440 - 320));
  }
}
@media (min-width: 991.98px) and (max-width: 320px) {
  .slider-main__body {
    width: 290px;
  }
}
@media (max-width: 991.98px) {
  .slider-main__body {
    margin: 0 -15px;
  }
}
.slider-main .slider-main__slide {
  position: relative;
  margin: 0 32px 0 0;
}
.slider-main__image {
  padding: 0 0 59% 0;
}
.slider-main__content {
  min-width: 295px;
  max-height: 300px;
  overflow: auto;
  color: inherit;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
@media (max-width: 1440px) {
  .slider-main__content {
    padding: calc(15px + (24 - 15) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .slider-main__content {
    padding: 15px;
  }
}
.slider-main__content {
  background: rgba(255, 255, 255, 0.9);
}
@media (min-width: 767.98px) {
  .slider-main__content {
    position: absolute;
    min-width: 350px;
    right: 40px;
    bottom: 40px;
  }
}
@media (min-width: 767.98px) and (max-width: 1440px) {
  .slider-main__content {
    right: calc(0px + (40 - 0) * (100vw - 320px) / (1440 - 320));
  }
}
@media (min-width: 767.98px) and (max-width: 320px) {
  .slider-main__content {
    right: 0px;
  }
}
@media (min-width: 767.98px) and (max-width: 1440px) {
  .slider-main__content {
    bottom: calc(0px + (40 - 0) * (100vw - 320px) / (1440 - 320));
  }
}
@media (min-width: 767.98px) and (max-width: 320px) {
  .slider-main__content {
    bottom: 0px;
  }
}
@supports (backdrop-filter: blur(31px)) {
  .slider-main__content {
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
  }
}
.slider-main__title {
  font-size: 28px;
}
@media (max-width: 1440px) {
  .slider-main__title {
    font-size: calc(22px + (28 - 22) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .slider-main__title {
    font-size: 22px;
  }
}
.slider-main__title {
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 0.1428571429em 0;
}
.slider-main__text {
  line-height: 150%;
  color: #3A3A3A;
}
.slider-main__text:not(:last-child) {
  margin: 0 0 0.5em 0;
}
.slider-main__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  line-height: 150%;
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 1440px) {
  .slider-main__price {
    font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1440 - 320));
  }
}
@media (max-width: 320px) {
  .slider-main__price {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */