@use "./variables" as var;
@use "./mixins" as mx;
@use "./fonts";

html {
    font-size: 62.5%;
}
body {
    
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var.$color-text-primary;
    background: var.$color-orange-secondary;

}



// Контейнер
.container {
    max-width:var.$maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}
.mainmain {
    height: 20rem
}

// Footer  // ==========
._footer-title{
    @include mx.adaptiv-value("font-size", 24, 20, 1);
    line-height:29/24*100%;
    color: var.$color-bg-dark;
    font-weight: var.$font-weight-bold;
}