@use "../variables" as var;
@use "../mixins" as mx;
@use "sass:math";

// Основной блок // ===
.page {
    flex: 1 1 auto;

    //page__main-slider
    &__main-slider {}
}

//================================
.main-slider {
    background: var.$color-page-bg;

    // .main-slider__container
    &__container {
        position: relative;

        @media (min-width: #{var.$md2}px) {
            &::before {
                content: "";
                background: var.$color-orange-secondary;
                position: absolute;
                top: 0;
                right: 376px;
                width: 100vw;
                height: 100%;
            }
        }
    }

    // .main-slider__body
    &__body {
        padding: 14rem 0 0 0;
        position: relative;
        z-index: 2;

        @media (max-width: #{var.$md2}px) {
            padding: 8rem 0 0 0;
        }

        @media (max-width: #{var.$md3}px) {
            padding: 5rem 0 0 0;
        }

        @media (min-width: #{var.$md2}px) {
            display: flex;
        }
    }

    // .main-slider__content
    &__content {
        flex: 0 0 math.div(494, 1240) * 100%;
    }

    // .main-slider__slider
    &__slider {
        flex: 1 1 auto;
        min-width: 0;
    }

}

.content-main {
    position: relative;
    z-index: 5;
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(255, 255, 255, 0.72);
    @include mx.adaptiv-value("padding-top", 60, 15, 1);
    @include mx.adaptiv-value("padding-bottom", 60, 15, 1);

    @media (min-width: #{var.$md2}px) {
        @include mx.adaptiv-value("padding", 60, 15, 1);
        background: rgba(255, 255, 255, 0.9);

        @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
            background: rgba(255, 255, 255, 0.72);
            backdrop-filter: blur(31px);
        }
    }

    // .content-main__title
    &__title {
        // адаптивный размер шрифта через миксин (от 56px до 24px)
        @include mx.adaptiv-value("font-size", 56, 24, 1);
        font-weight: 700;
        line-height: 120%;

        //  отступ снизу только если элемент не последний
        &:not(:last-child) {
            // отступ в em относительно font-size элемента (16/56 = ~0.286em)
            margin: 0 0 math.div(16, 56) * 1em 0;
        }
    }

    // .content-main__text 
    &__text {
        @include mx.adaptiv-value("font-size", 20, 16, 1);
        color: var.$color-gray-1;
        font-weight: 500;
        line-height: 150%;

        &:not(:last-child) {
            // отступ в em относительно font-size элемента (16/56 = ~0.286em)
            margin: 0 0 math.div(48, 20) * 1em 0;
        }
    }

    // .content-main__button
    &__button {
        width: 100%;
        font-size: 600;
        @include mx.adaptiv-value("min-height", 78, 45, 1);
        @include mx.adaptiv-value("font-size", 20, 16, 1);
        background-color: var.$color-orange-accents;
        color: var.$color-text-inverse;

        @media (any-hover: hover) {
            &:hover {
                background: var.$color-orange-2;
            }
        }
    }

}


.slider-arrows {
    display: grid;
    grid-template-columns: repeat(2, 48px);
    column-gap: 8px;
}

.slider-arrow {
    width: 48px;
    height: 48px;
    font-size: 12px;
    border-radius: 50%;
    color: var.$color-orange-2;
    background-color: var.$bg-color-arrow;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &--prev {
        transform: rotate(90deg);

    }

    &--next {
        transform: rotate(-90deg);
    }

    @media (any-hover: hover) {
        &:hover {
            color: #ffffff;
            background-color: var.$bg-color-hover;
        }
    }

    &--white {
        box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
        background-color: aliceblue;


        @media (any-hover: hover) {
            &:hover {
                color: var.$color-orange-2;
                background-color: var.$bg-color-hover;
            }
        }

    }
}

.swiper-pagination-bullets {
    display: flex;
    flex-wrap: wrap;
}
.swiper-pagination-bullet {
    cursor: pointer;
    flex: 0 0 27px;
    height: 27px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0;
    &:not(:last-child){
        margin-right: 12px;
    }
    &::after {
        content: "";
        width: 11px;
        height: 11px;
        background-color: #d8d8d8;
        border-radius: 50%;
        transition: background-color 0.3s ease 0s;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid var.$color-orange-accents;
        transition: all 0.3s ease 0s;
        transform: scale(0);
    }
}
.swiper-pagination-bullet-active {
    &::after{
        background-color: var.$color-orange-2;
    }
    &::before{
        transform: scale(1);
    }
}