@use "../variables" as var;
@use "../mixins" as mx;

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    &__body {
        display: flex;
        align-items: center;
        padding: 5px 0;
        min-height: 12.5rem;
    }

    &__main {
        display: flex;
        align-items: center;
        flex: 0 0 494/1240 * 100%;
    }

    &__logo {
        color: var.$color-bg-dark;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 29 / 24 * 100%;
    }
}


.btn--menu-arrow-down {
    @include mx.flex-center;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;

    .icon {
        transition: transform 0.3s ease;
        pointer-events: none;
    }

    // ._spoller-active вешается на саму кнопку
    &._spoller-active {
        .icon {
            transform: rotate(-180deg);
        }
    }
}

.menu {
    flex: 0 1 420px;

    &__list {
        @media (min-width: #{var.$md3}px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }

    &__item {
        @include mx.flex-between;
        flex-wrap: wrap;
        margin: 0 3px;
        padding: 5px 0;
        position: relative;

        @media (any-hover: hover) {
            &:hover {
                .btn--menu-arrow-down .icon {
                    transform: rotate(-180deg);
                }

                .menu__sub-list {
                    transform: translate(0, 0);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }

                .btn--menu-arrow-down .icon,
                .menu__link {
                    color: var.$color-orange-accents;
                }
            }
        }
        @media (min-width: #{var.$md3}px){
            &:hover {
                .btn--menu-arrow-down .icon {
                    transform: rotate(-180deg);
                }

                .menu__sub-list {
                    transform: translate(0, 0);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }

                .btn--menu-arrow-down .icon,
                .menu__link {
                    color: var.$color-orange-accents;
                }
            }
        }
    }

    &__link {
        font-weight: 500;
        color: inherit;
        transition: color 0.3s ease;
    }

    &__sub-list {
        background-color: var.$color-orange-accents;
        padding: 1.5rem;
        flex: 1 1 100%;

        @media (min-width: #{var.$md3}px) {
            opacity: 0;
            visibility: hidden;
            transform: translate(0, -10px); // ← начальная позиция
            transition: all 0.3s ease;
            min-width: 20rem;
            position: absolute;
            top: 100%;
            left: 0;
        }
    }

    &__sub-item {
        &:not(:last-child) {
            margin: 0 0 5px 0;
        }
    }

    &__sub-link {
        color: var.$color-text-inverse;
        font-weight: 500;
        transition: color 0.3s ease;
    }
}